<div class="divInputFile">
    <input id="{fileDependencia}" type="file" class="fileDependencia">
    <label for="versaoDependencia"></label>
    <input type="text" id="versaoDependencia" placeholder="Versão">
    <span class="removeDependencia glyphicon glyphicon-remove" aria-hidden="true"></span>
</div>


<!-- <label for="{fileDependencia}">
    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
</label>

<input id="{fileDependencia}" type="file" class="fileDependencia"  file-model="{filesDependencias}">
<p class="nomeArquivoDependencias" ng-if="filesDependencias">
    {{fileDependencia.name}}
</p> -->
